$white: #ffffff;
$black: #000000;
$main-text-color: #a1a5b4;
$main-text-color-dark: #6f7177;

$bg-color: #2a2d36;
$header-bg-color: #0b0c10;
$footer-bg-color: #15161a;
$logo-bg: #303030;
$modal-text-bg-color:#17171a;

$footer-element-color: #282b32;
$orange: #c87406;
$light-orange: #fe9e22;
$error: #ff0000;